<mat-card class="all">
  <mat-action-list>
    <button mat-list-item routerLink="/user-dashboard">
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button mat-list-item routerLink="/user-dashboard/universities">
      <mat-icon>school</mat-icon>
      Universities
    </button>

    <button
      [routerLink]="['/user-dashboard/my-reviews', { userId: this.user.id }]"
      mat-list-item
    >
      <mat-icon>rate_review</mat-icon>
      My Reviews
    </button>

    <button
      (click)="logout()"
      *ngIf="isLoggedIn"
      mat-list-item
      routerLink="/login"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-action-list>
</mat-card>
