mat-icon {
  padding-top: 10px;
  padding-right: 30px;
}

mat-icon {
  padding-top: 10px;
  padding-right: 30px;
}

.all {
  margin-top: 25px;
  animation: pulse 2s linear infinite alternate;
  background-attachment: fixed;
  width: 300px;
  min-height: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, lightgrey 60%, darkgrey 80%);
}
