<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <div class="logo text-center">
          <img src="../../../assets/logo.PNG" alt=""/>
        </div>

        <h1 class="text-center">Login Here</h1>

        <form  action="">
          <!-- Username -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input required matInput placeholder="Enter here"/>
            <mat-hint>Valid User Name</mat-hint>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input required type="password" matInput placeholder="Enter here" />
          </mat-form-field>

          <div class="text-center">
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button mat-raised-button class="ml10" color="accent" type="submit">Clear</button>

          </div>
        </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
