<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="logo text-center">
            <img src="../../../assets/logo.PNG" alt=""/>
          </div>

          <h1 class="text-center">Login Here</h1>

          <form (ngSubmit)="formSubmit()">
            <!-- Username -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="loginData.username"
                name="username"
                required
                matInput
                placeholder="Enter here"/>
              <button *ngIf="loginData.username" matSuffix mat-icon-button aria-label="Clear"
                      (click)="loginData.username=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                name="password"
                required
                type="password"
                matInput
                placeholder="Enter here"/>
              <button *ngIf="loginData.password" matSuffix mat-icon-button aria-label="Clear"
                      (click)="loginData.password=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <div class="text-center">
              <button mat-raised-button color="primary" type="submit">Login</button>
              <button mat-raised-button class="ml10" color="accent" type="reset">Clear</button>

            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
