.logo {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  transform: scale(0.75);
}

.full-width {
  background: none !important;
  border: none;
  outline: none;
  width: 100%;
}

/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, lightgrey 60%, darkgrey 80%);
}

form .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}

header h2 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

header p {
  letter-spacing: 0.05em;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 15px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}

.log-in {
  width: 48%;
  margin-left: 2%;
}

.icon-login {
  position: relative;
  margin-right: 10px;
}


/* inputs form  */
input[class="form-input"] {

  border: none;
  outline: none;
  width: 240px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  font-family: 'Abel', sans-serif;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;

}

.btn-clear {
  background: transparent;
  border: none;
  outline: none
}

input[id="txt-input"] {
  width: 325px;
  border: none;
  outline: none;
}

.text-center {
  margin-top: -10px;
  margin-bottom: -30px;
}

/* focus  */
input:focus {

  border-radius: 5px;
}

button {
  display: inline-block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
}

.submits {
  width: 48%;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(5px);
  }
}

.gradient-bg {
  background: radial-gradient(ellipse at center, rgb(232, 240, 254), rgb(210, 203, 203));
  animation: pulse 2s linear infinite alternate;
  background-position: 50% 50%;
  background-attachment: fixed;
}

@keyframes pulse {
  from {
    background-size: 100% 150%;
  }

  to {
    background-size: 150% 200%;
  }
}

.zoom-effect {
  transform: scale(0.975);
  transition: 0.3s linear;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.zoom-effect:hover {
  transform: scale(1.025);
  transition: 0.3s linear;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}