<mat-card *ngIf="admin">
  <mat-card-content>
    <div class="container text-center">
      <h1>All Users</h1>
    </div>
    <div class="bootstrap-wrapper">
      <div class="container text-center" *ngFor="let user of users">
        <div *ngIf="user.id !== admin.id">
          <mat-card class="container text-center">
            <mat-card-title>{{ user.username }}</mat-card-title>
            <mat-chip-listbox>
              <mat-chip-option
                *ngFor="let role of roles"
                [selected]="role === getUserRole(user) ? true : null"
                (click)="changeRole(user, role)"
                >{{ role }}</mat-chip-option
              >
            </mat-chip-listbox>
          </mat-card>
          <br />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
