<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <h1 class="text-center">Contact Us</h1>
          <h2>&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae augue non lacus efficitur blandit. Pellentesque euismod tincidunt arcu vel fermentum. Suspendisse potenti. Donec id dolor id lorem vestibulum tristique. Morbi ut elit nec augue convallis luctus. Nulla facilisi. Donec facilisis, justo ac convallis ultricies, nisi dolor pellentesque enim, eget consequat sapien massa vel odio.</h2>
        </mat-card>
      </div>
    </div>
  </div>
</div>
