<!--<app-navbar></app-navbar>-->

<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="logo text-center">
          <img src="../../../assets/logo.PNG" alt=""/>
        </div>

        <h1 class="text-center">Register Here</h1>


        <form (ngSubmit)="formSubmit()">
          <!-- Username -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input
              required
              [(ngModel)]="user.userName"
              name="userName"
              matInput
              placeholder="Enter here"
            />
            <mat-hint>Username must be unique</mat-hint>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              [(ngModel)]="user.password"
              name="password"
              type="password"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- First name -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First name</mat-label>
            <input
              required
              [(ngModel)]="user.firstName"
              name="firstName"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- Last name -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last name</mat-label>
            <input
              required
              [(ngModel)]="user.lastName"
              name="lastName"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- Email -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email address</mat-label>
            <input
              required
              [(ngModel)]="user.email"
              name="email"
              type="email"
              matInput
              placeholder="Enter here"
            />
            <mat-hint>E-mail must be unique</mat-hint>
          </mat-form-field>

          <!-- Phone -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input
              required
              [(ngModel)]="user.phone"
              name="phone"
              type="number"
              matInput placeholder="Enter here"
            />
          </mat-form-field>

          <div class="text-center">
            <button type="submit" mat-raised-button color="primary">Register</button>
            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
