/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  transform: scale(0.75);
}

.full-width {
  width: 100%;
}
