.example-spacer {
  flex: 1 1 auto;
  background-color: rgb(200, 200, 200);
}

.example-icon {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 20px;
}

.example-icon.register {
  margin-right: 40px;
}

.title {
  font-size: 25px;
  margin-left: 10px;
}
