<mat-toolbar color="accent">
  <a routerLink="/" mat-fab extended class="navbar-home">
    <mat-icon>home</mat-icon>
    <span class="title">UnInsider</span>
  </a>

  <span class="navbar-spacer"></span>

  <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
    mat-button
    class="navbar-button login"
  >
    Login
  </a>

  <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'"
    mat-button
    class="navbar-button register"
  >
    Register
  </a>

  <a
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-button
    class="navbar-button register"
  >
    Logout
  </a>

  <button
    *ngIf="isLoggedIn && user"
    (click)="toDashboard()"
    mat-button
    class="navbar-button"
  >
    {{ user.username }}
  </button>
</mat-toolbar>
