.profile-image {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  align-self: center;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
}

.details-table tr td {
  padding: 15px 10px;
  border: 5px solid #e2e2e2;
}

.text-center {
  justify-content: center;
  align-items: center;
}

td {
  font-size: 15px;
}

