<mat-card *ngIf="user" class="all">
  <mat-card-content>

    <form (ngSubmit)="formSubmit()">
      <div class="con">
        <header>
          <h1>Your profile details</h1>
          <img alt="" class="profile-image" src="../../../assets/profile.jpg">
          <h1 class="mt20"> {{ user.firstName }} {{ user.lastName }} </h1>
        </header>

        <div class="field-set">

          <mat-form-field appearance="fill" class="full-width">
            <mat-icon class="icon-login" style="margin-bottom: -1.5%;"> first_page</mat-icon>

            <input [(ngModel)]="formInput.firstName" class="form-input" id="txt-input" matInput name="firstName"
              placeholder="First Name" />
          </mat-form-field>

          <!-- Last name -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-icon class="icon-login" style="margin-bottom: -1.5%;"> last_page</mat-icon>

            <input [(ngModel)]="formInput.lastName" class="form-input" id="txt-input" matInput name="lastName"
              placeholder="Last Name" />
          </mat-form-field>


          <!-- Email -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-icon class="icon-login" style="margin-bottom: -1.5%;"> email</mat-icon>
            <input [(ngModel)]="formInput.email" class="form-input" id="txt-input" matInput name="email"
              placeholder="Email" />
          </mat-form-field>

          <!-- Phone -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-icon class="icon-login" style="margin-bottom: -1.5%;"> call</mat-icon>

            <input [(ngModel)]="formInput.phone" class="form-input" id="txt-input" matInput name="phone"
              placeholder="Phone" />
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-icon class="icon-login" style="margin-bottom: -1.5%;"> vpn_key</mat-icon>

            <input [(ngModel)]="formInput.password" class="form-input" id="txt-input" matInput name="password"
              placeholder="Password" type="password" />
            <button (click)="formInput.password = ''" *ngIf="formInput.password" aria-label="Clear" mat-icon-button
              matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="other">
            <button class="btn submits" mat-raised-button type="reset" w3-light-grey>
              <mat-icon> clear_all</mat-icon>
              Clear
            </button>
            <button class="btn submits" mat-raised-button w3-light-grey>Update
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>