<mat-card *ngIf="user">
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <h1>Add Review</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form class="container text-center" (ngSubmit)="formSubmit()">
              <div>
                <!-- Review text -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Review Text</mat-label>
                  <textarea
                    [(ngModel)]="inputText"
                    (ngModelChange)="verifyText()"
                    name="text"
                    rows="10"
                    cols="30"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>

              <div *ngFor="let key of getMappingKeys; let i = index">
                <input type="checkbox" id="checkbox{{i}}" [checked]="passed.includes(key)">
                <label for="checkbox{{i}}">{{key}}</label>
              </div>

              <div class="text-center">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="!isFormValid()"
                >
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
