<mat-card *ngIf="user">
  <mat-card-content>
    <h1> Your profile details </h1>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img class="profile-image" alt="" src="../../../../assets/profile.jpg">
          <h1 class="mt20"> {{ user.firstName }} {{ user.lastName }} </h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="details-table text-center">
              <tr>
                <td class="label"> Username</td>
                <td> {{user.username }}</td>
              </tr>

              <tr>
                <td class="label"> UserId</td>
                <td> {{user.id}}</td>
              </tr>

              <tr>
                <td class="label"> Email</td>
                <td> {{user.email}}</td>
              </tr>

              <tr>
                <td class="label"> Phone</td>
                <td> {{user.phone}}</td>
              </tr>

              <tr>
                <td class="label"> Role</td>
                <td> {{user.authorities[0].authority}}</td>
              </tr>

              <tr>
                <td class="label"> Status</td>
                <td> {{user.enabled ? "ACTIVE" : "NONACTIVE"}}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions class="text-center">
      <button mat-raised-button color="primary" routerLink="/user-dashboard/edit-user">UPDATE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
