/* You can add global styles to this file, and also import other style files */
@import 'styles.scss';

html, body {
  height: 100%;
  background: #f5f5f5;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode mat-form-field {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode mat-label {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode form {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode mat-hint {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode mat-sidenav {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

body.dark-mode button {
  background-color: #333;
  color: #fff;
  text-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

#main-container {
  min-height: calc(100% - 50px); /* replace 50px with the height of your footer */
}

footer {
  height: 50px; /* replace 50px with the height of your footer */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.text-center {
  text-align: center;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}


.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

