<mat-card>
  <mat-action-list>
    <button mat-list-item routerLink="/admin">
      <mat-icon>home</mat-icon>Home
    </button>

    <button mat-list-item routerLink="/admin/universities">
      <mat-icon>school</mat-icon>Universities
    </button>

    <button
      mat-list-item
      [routerLink]="['/admin/my-reviews', { userId: this.user.id }]"
    >
      <mat-icon>rate_review</mat-icon>My Reviews
    </button>

    <button mat-list-item routerLink="/admin/users">
      <mat-icon>supervised_user_circle</mat-icon>User Management
    </button>

    <button
      (click)="logout()"
      *ngIf="isLoggedIn"
      mat-list-item
      routerLink="/login"
    >
      <mat-icon>logout</mat-icon>Logout
    </button>
  </mat-action-list>
</mat-card>
