<mat-card *ngIf="user" class="all">
  <mat-card-content>
    <form class="container" style="width: 50%;">
      <mat-form-field>
        <span matPrefix> </span>
        <input (ngModelChange)="searchUniversity(searchItem)" [(ngModel)]="searchItem" matInput name="search"
          placeholder="Search University" style="text-align: center;" type="search" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    <div class="bootstrap-wrapper">
      <div class="row">

        <div *ngFor="let university of filteredUniversities" class="container">
          <mat-card style="background-color: lightgrey;" w3-light-grey>
            <div>
              <header (click)="goToReviews(university)" style="cursor: pointer">
                <h1>{{ university.name }} -
                  {{ university.location }}</h1>
                <p>{{
                  university.description
                  }}</p>
              </header>
            </div>
            <br />
            <mat-card-actions *ngIf="getUserRole() === 'ADMIN'" align="end">
              <button (click)="editUniversity(university)" mat-button>
                EDIT
              </button>
              <button (click)="deleteUniversity(university)" mat-button style="margin-right: 20px">
                DELETE
              </button>
            </mat-card-actions>
          </mat-card>
          <br />
        </div>
      </div>

      <button (click)="goToAddUniversity()" *ngIf="user && getUserRole() === 'ADMIN'" class="add-button" mat-fab>
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </mat-card-content>
</mat-card>